@media print {

    header nav, footer {
        display: none;
    }

    .actions,
    .table-head-actions,
    .pagination {
        display: none;
    }

    .thumbnail {
        filter: grayscale(100%);
    }
 }