.thumbnail {
    width: 100px;
    height: 100px;
    max-width: unset;
    transition: -webkit-transform 0.25s ease;
}

.thumbnail:hover {
    cursor: zoom-in;
}

.thumbnail:active {
    -webkit-transform: scale(2);
    transform: scale(2);
}

/* TABLE */

table {
    margin-top: 56px;
}

/* Align table cell content center */
.table td, .table th { 
    text-align: center;   
 }
 
 .orders .col {
    padding: unset;
}

 /* BUTTONS */
.btn-danger {
    background-color:#b16a6a;
    border-color:#b16a6a; 
}

.btn-warning {
    background-color:#9e7c45;
    border-color:#9e7c45; 
    color: #fff;
}

.btn-warning:hover {
    color: #fff;
}

/* PAGINATION */
.pagination .page-link{
    background-color: rgb(240, 240, 240);
    color: #474747;
    border-color: #dee2e6;
}

.page-item.active .page-link {
    background-color: #7d7d7d;
    border-color: #929292;
}

.page-link:focus {
    box-shadow: 0 0 0 0.2rem rgba(100, 100, 100, 0.25)
}

/* COSTUMES */

/* button */
.rent-button, .create-new-button {
    background-color: #4789cf;
    border-color: #3872af;
}

.rent-button-disabled {
    background-color: #171c22;
    cursor: not-allowed;
}

.btn-primary.disabled, .btn-primary:disabled {
    background-color: #4e6080;
    border-color: #404f68;
}

.search-button {
    background-color: #4789cf;
}

/* ICONS */

.fa-check {
    color: green;
}

.not-available-cross {
    color: #a00909;
}

.fa-search {
    color: white;
}

/* Archived */
.table-warning>td{
    background-color: #fffbee;
}

.table-hover .table-warning:hover>td, .table-hover .table-warning:hover>th {
    background-color: #fdf0c4;
}

.badge-warning {
    color: white;
    background-color: #a8892c;
}

/* UPLOAD */
.costume-upload-form {
    margin-top: 60px;
}